$base-fonts : 'Comfortaa', cursive; 
$primary-fonts : 'Poppins', sans-serif;
$gray: #333333;
$mid-gray: #666666;
$light-gray: #999999;

$big-wrappper-width: 98vw;
$wrapper-width : 64vw;

/*------- Typography --------*/
body{ margin: 0; padding: 0; }
body, html{ font-family: $base-fonts; font-size: 22px; box-sizing: border-box; }

button, span, label, a, img{ display: inline-block; }

textarea, img, input, form{ max-width: 100%; }

.rounded{ border-radius: 50%; }

form, dl, figure, p, ol, ul{ margin: 0 0 15px; white-space: pre-wrap;
	&:last-child{ margin: 0; }
}

p, article, li{ line-height: 1.8; }

address{ font-style: inherit; }

h1, h2, h3, h4, h5, h6{ font-family: $primary-fonts; letter-spacing: 1px; }

h1{ font-size: 75px; }
h2{ font-size: 60px; }
h3{ font-size: 45px; }
h4{ font-size: 30px; }
h5{ font-size: 26px; } 
h6{ font-size: 22px; }

.fonts40{ font-size: 40px; }
.fonts60{ font-size: 60px; }

aside, main, input, form, textarea, ul, li, .button{ box-sizing: border-box; }


/*--------------- Forms ----------------*/
input, textarea{ padding: 12px 16px; }
textarea{ resize: none; height: 165px; }

/*------- Useful Mixins --------*/

@mixin transform($property) {
  -webkit-transform: $property; -ms-transform: $property; transform: $property;
}

/*------- Useful classes --------*/

.abs-center{ position: absolute; top: 50%; left: 50%; 
	@include transform(translate(-50%,-50%)); }
.lr-auto{ margin-left: auto; margin-right: auto; }

.clear{ clear: both;
	&:after, &:before{ content: ''; display: table; clear: both; }
}

.dtab{ display: table; width: 100%; }
.dcell{ display: table-cell; 
	.center{ vertical-align: middle; }
}

.dflex{ display: flex; display: -webkit-box; display: -moz-box; display: -ms-flexbox; 
  display: -webkit-flex; display: flex;
  	&.no-wrap{ flex-wrap: nowrap; -ms-flex-wrap: none; }
  	&.wrap{ flex-wrap: wrap; -ms-flex-wrap: wrap; }
  	&.wrap-reverse{ flex-direction: row-reverse; -ms-flex-wrap: row-reverse; }
}

.rotate45 { @include transform(rotate(45deg)); }


/*------- Spacing and Coumns Structure ------*/
.paddingtb30{ padding: 30px 0; }
.paddingtb60{ padding: 60px 0; }
.paddingtb90{ padding: 90px 0; }
.paddingtb120{ padding: 120px 0; }
.w100 { width: 100%; }
.wide-wrapper{ max-width: $big-wrappper-width; @extend .w100; padding: 2vw; }
.wrapper{ max-width: $wrapper-width; @extend .w100; padding: 2vw; }



@import 'home.scss';