@import 'screens.scss';

.anim{ opacity: 0; }
.anim.animate{ opacity: 1;  -webkit-transition: 0.8s 0.1s cubic-bezier(0.8,0,0.4,1);
transition: 0.8s 0.1s cubic-bezier(0.8,0,0.4,1); }
.page-head{ position: relative; }
.page-head > .dflex{ align-items: center; }
.page-head.wave:before{ top: 90%; }
.page-head figure.wave:before{ left: -15px; top: -40px; } 
.page-head .content{ padding: 20px 0; }
.page-head h1{ font-family: "Comfortaa", cursive; color: #e24934; overflow: hidden; margin : 0 0 25px; }
.page-head .subtitle{ color: #e24934; }
.page-head .content{ padding: 25px 0; max-width: 350px; margin: 0 auto; }
.profile-image img{ height: auto; max-width: 350px; margin: 0 auto; }

@keyframes soundwave_anim{
	0%{ left: -40px; }
	50%{ left: 50vw; }
	100%{ left: calc(100vw + 40px); }
}

@keyframes tree_anim{
	0%{ background-position: center bottom; }
	50%{ background-position: center center; }
	100%{ background-position: center bottom; }
}

.personal{ position: relative; background: url(img/mountains.png) no-repeat; transition: 1s linear;
background-position: center center; }
.bar-wrap{ overflow: hidden; position: absolute; height: 100%; width: 100%; top: 0; }
.personal:before{ top: 0; left: 0; }
.personal:after{ bottom: 0; right: 0; }

.experience{ position: relative; }
.experience .heading { color: #0fa896;  padding-bottom: 0; max-width: 355px; }
.experience .timeline-hist .title{ color: #0fa896; margin: 0; font-weight: 900; text-transform: capitalize;
	span { color: #e24934; }
}
.experience .timeline-hist{ position: relative; max-width: calc(100% - 355px); min-width: 320px; }
.timeline-hist:after { content: ''; height: 100%; width: 4px; display: block; background: #bee4e0; 
position: absolute; top: 0; left: 0; }

.green-bg{ background: rgba(15, 168, 150, .12); }

.socials li{ display: inline-block; margin: 15px 7.5px; }
.socials li a svg{ fill: #e24934; transition: 0.5s ease all; }
.socials li a:hover svg{ fill: #0FA896; }


@media (min-width: $tablet) {
	.page-head .content{ padding: 25px 25px 35px; }

	.experience{ position: relative; }
	.experience .inner-wrap{ align-items: flex-start; }
	.experience .heading { position: sticky; top: 0; left: 0; }
	.experience .title{ font-size: 20px; }
}


@media (min-width: $desktop) {

	.page-head .content{ padding: 25px 50px 40px; }
	.experience .title{ font-size: 24px; }
}