.anim:not(.animate) {
  will-change: opacity;
  opacity: 0;
  -webkit-transition: 0.8s 0.1s cubic-bezier(0.8, 0, 0.4, 1);
  transition: 0.8s 0.1s cubic-bezier(0.8, 0, 0.4, 1);
  overflow: hidden;
}

@keyframes animUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anim.animate {
  animation: animFade 1s ease;
}

.fadeScreenUp.anim:not(.animate) {
  transform: translateY(50px);
}

.fadeScreenUp.anim.animate {
  animation: animUp 1s ease;
}

.fadeleft:not(.animate) {
  transform: translateX(-40px);
}

.anim:not(.animate) {
  will-change: opacity;
  opacity: 0;
  -webkit-transition: 0.8s 0.1s cubic-bezier(0.8, 0, 0.4, 1);
  transition: 0.8s 0.1s cubic-bezier(0.8, 0, 0.4, 1);
  overflow: hidden;
}

@keyframes animUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anim.animate {
  animation: animFade 1s ease;
}

.fadeScreenUp.anim:not(.animate) {
  transform: translateY(50px);
}

.fadeScreenUp.anim.animate {
  animation: animUp 1s ease;
}

.fadeleft:not(.animate) {
  transform: translateX(-40px);
}

/*------- Typography --------*/
body {
  margin: 0;
  padding: 0;
  border-left: 44px solid #fff;
}

body, html {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
}

button, span, label, a, img {
  display: inline-block;
}

img, figure, ol, dl,
aside, main, input, form,
textarea, ul, section, .w100, .wrapper, .wide-wrapper, iframe, input, form {
  max-width: 100%;
  box-sizing: border-box;
}

.rounded {
  border-radius: 50%;
}

.upcase {
  text-transform: uppercase;
}

figure:not(.has-caption) {
  margin: 0;
}

dl, form, dl, figure, p, ol, ul {
  margin: 0 0 15px;
}
dl:last-child, form:last-child, dl:last-child, figure:last-child, p:last-child, ol:last-child, ul:last-child {
  margin: 0;
}

dl, ol, ul {
  padding: 0;
}
dl.reset li, ol.reset li, ul.reset li {
  list-style: none;
}

p, article, li {
  line-height: 1.8;
}

a {
  white-space: pre-wrap;
}

address {
  font-style: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  margin: 0 0 25px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.fonts28 {
  font-size: 18px;
}

.fonts40 {
  font-size: 28px;
}

.fonts60 {
  font-size: 30px;
}

/*---- Link And Buttons ------*/
a {
  color: red;
}
a:hover {
  color: blue;
}
a:active {
  color: yellow;
}

button, input[type=submit], input[type=reset],
input[type=submit], .btn {
  border: 2px solid blue;
  outline: none;
  transition: 0.5s all ease;
  padding: 18px 14px;
  text-align: center;
  color: #fff;
  background: blue;
}
button:hover, input[type=submit]:hover, input[type=reset]:hover,
input[type=submit]:hover, .btn:hover {
  border: 2px solid blue;
  color: #fff;
  background: blue;
}
button:active, input[type=submit]:active, input[type=reset]:active,
input[type=submit]:active, .btn:active {
  border: 2px solid blue;
  border: 2px solid blue;
  color: #fff;
  background: blue;
}
button:focus, input[type=submit]:focus, input[type=reset]:focus,
input[type=submit]:focus, .btn:focus {
  border: 2px solid blue;
  border: 2px solid blue;
  color: #fff;
  background: blue;
}
button.big, input[type=submit].big, input[type=reset].big,
input[type=submit].big, .btn.big {
  padding: 22px 18px;
}
button.rounded, input[type=submit].rounded, input[type=reset].rounded,
input[type=submit].rounded, .btn.rounded {
  border-radius: 40px;
}

/*--------------- Forms ----------------*/
input, textarea {
  padding: 12px 16px;
}

textarea {
  resize: none;
  height: 165px;
}

/*------- Useful Mixins --------*/
/*------- Useful classes --------*/
.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}
.clear:after, .clear:before {
  content: "";
  display: table;
  clear: both;
}

.dtab {
  display: table;
  width: 100%;
}

.dcell {
  display: table-cell;
}
.dcell .center {
  vertical-align: middle;
}

.dflex {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.dflex.no-wrap {
  flex-wrap: nowrap;
  -ms-flex-wrap: none;
}
.dflex.wrap {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.dflex.wrap-reverse {
  flex-direction: row-reverse;
  -ms-flex-wrap: row-reverse;
}
.dflex > * {
  width: 100%;
}

.rotate45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.page-main {
  overflow: hidden;
}

/*------------ Timeline Histoty -----------*/
.timeline-hist {
  padding: 40px 0;
}
.timeline-hist .hist-content {
  position: relative;
  padding: 0 0 16px 36px;
}
.timeline-hist .hist-content:before {
  content: "";
  width: 26px;
  height: 4px;
  position: absolute;
  left: 0;
  top: 12px;
  background: #bee4e0;
  display: block;
}

/*------- Spacing and Coumns Structure ------*/
.paddingtb30 {
  padding: 30px 0;
}

.paddingtb60 {
  padding: 60px 0;
}

.paddingtb90 {
  padding: 90px 0;
}

.paddingtb120 {
  padding: 120px 0;
}

.w100, .wrapper, .wide-wrapper {
  width: 100%;
}

.wrapper, .wide-wrapper {
  padding: 0 6vw;
  margin: 0 auto;
}

.wave {
  position: relative;
}
.wave:before {
  content: "";
  background: url("img/wave-icon.png") no-repeat;
  top: 0;
  border-radius: 50%;
  display: block;
  width: 0;
  height: 28px;
  position: absolute;
  z-index: 1;
}
.wave.left:before {
  background-position: left center;
  left: 0;
}
.wave.right:before {
  background-position: right center;
  right: 0;
}
.wave.animate:before {
  width: 90px;
  border-radius: 0;
  transition: 2s all ease;
}

.corner {
  position: relative;
}
.corner:before {
  content: "";
  background: url("img/wave-icon.png") no-repeat;
  top: 0;
  border-radius: 50%;
  display: block;
  width: 0;
  height: 28px;
  position: absolute;
  z-index: 1;
}
.corner.left:before {
  background-position: left center;
  left: 0;
}
.corner.right:before {
  background-position: right center;
  right: 0;
}
.corner.animate:before {
  width: 90px;
  border-radius: 0;
  transition: 2s all ease;
}

/*
.drak-bg{ background-color: #1B0F2D; }
.green-bg{ background: rgba(15, 168, 150, .12); }
*/
body {
  background: #f4f4f4;
}

.fonts100 {
  font-size: 100px;
}

.transText {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #707070;
  color: transparent;
}
@media (min-width: 768px) {
  .transText {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #707070;
    color: transparent;
  }
}

@keyframes marqueeanim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marqueeWrap {
  display: flex;
  flex-wrap: nowrap;
  font-size: 200px;
  white-space: nowrap;
  overflow: hidden;
}
.marqueeWrap .inrItem {
  margin: 0 30px 0 0;
  animation: marqueeanim infinite linear 40s;
}

.sitenavToggle:active, .sitenavToggle:focus,
.sitenavToggle:hover {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.sitenavToggle:hover .menuToggle,
.sitenavToggle:hover .menuToggle:after, .sitenavToggle:hover .menuToggle:before {
  background: #0FA896;
}

.sitenavToggle {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 44px;
  display: flex;
  justify-content: center;
  padding: 8px 0 0;
  background: transparent;
  border: none;
  outline: none;
}

.menuToggle:after {
  margin: 8px 0 -8px;
}

.menuToggle:before {
  margin: 16px 0 8px;
}

.menuToggle:after, .menuToggle:before {
  height: 8px;
  background: #101b1b;
  width: 8px;
  content: "";
  display: block;
  border-radius: 50%;
}

.menuToggle {
  height: 8px;
  width: 8px;
  background: #101b1b;
  border-radius: 50%;
}

@media (min-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    margin: 0 0 25px;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 18px;
  }

  .fonts28 {
    font-size: 24px;
  }

  .fonts40 {
    font-size: 37px;
  }

  .fonts60 {
    font-size: 46px;
  }

  body, html {
    font-size: 18px;
  }

  .timeline-hist {
    padding: 60px 0;
  }
}
@media (min-width: 1366px) {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    margin: 0 0 25px;
  }

  body, html {
    font-size: 18px;
  }

  .fonts28 {
    font-size: 28px;
  }

  .fonts40 {
    font-size: 40px;
  }

  .fonts60 {
    font-size: 60px;
  }

  .wide-wrapper {
    max-width: 96vw;
  }

  .wrapper {
    max-width: 90vw;
  }

  .timeline-hist {
    padding: 90px 0;
  }
}
/*.connect{ background: url(img/sky-bg.jpeg)no-repeat; background-size: cover; 
background-position: center; background-attachment: fixed; position: relative; }
*/
/*------ footer -----*/
.pfooter {
  padding: 20px 0;
  text-align: center;
}

.socials {
  padding: 0;
  text-align: center;
  bottom: 22px;
  left: -4px;
  position: fixed;
}

.socials li a, .footer-social li {
  display: inline-flex;
  line-height: 1;
  margin: 0 5px;
}

.socials ul {
  display: flex;
  flex-direction: column;
}

.socials ul svg {
  max-width: 26px;
  max-height: 26px;
}

.anim {
  opacity: 0;
}

.anim.animate {
  opacity: 1;
  -webkit-transition: 0.8s 0.1s cubic-bezier(0.8, 0, 0.4, 1);
  transition: 0.8s 0.1s cubic-bezier(0.8, 0, 0.4, 1);
}

.page-head {
  position: relative;
}

.page-head > .dflex {
  align-items: center;
}

.page-head:before {
  top: 40px;
  left: 0;
}

.page-head figure.wave:before {
  left: -15px;
  top: -40px;
}

.page-head .content {
  padding: 20px 0;
}

.page-head h1 {
  font-family: "Comfortaa", cursive;
  color: #e24934;
  overflow: hidden;
  margin: 0 0 25px;
}

.page-head .subtitle {
  color: #e24934;
}

.page-head .content {
  padding: 25px 0;
  max-width: 350px;
  margin: 0 auto;
}

.profile-image img {
  height: auto;
  max-width: 350px;
  margin: 0 auto;
}

@keyframes soundwave_anim {
  0% {
    left: -40px;
  }
  50% {
    left: 50vw;
  }
  100% {
    left: calc(100vw + 40px);
  }
}
@keyframes tree_anim {
  0% {
    background-position: center bottom;
  }
  50% {
    background-position: center center;
  }
  100% {
    background-position: center bottom;
  }
}
section {
  position: relative;
  overflow-x: hidden;
  min-height: 800px;
  display: grid;
  align-content: center;
}

.page-head .inWrap {
  max-width: 650px;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 12px;
  border-radius: 200px 0 0 200px;
  display: flex;
}

.page-head .inWrap figure {
  border-radius: 200px 200px 0 0;
  border: 2px solid #fff;
  overflow: hidden;
  padding: 16px 12px;
}

.page-head .inWrap figure img {
  border-radius: 200px 200px 0 0;
}

.page-head .fonts100 {
  font-weight: bold;
  font-family: "Comfortaa", cursive;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 2px;
  color: transparent;
  letter-spacing: 36px;
  text-shadow: 0 0 20px red;
  z-index: 1;
  top: 20%;
  display: block;
}

.page-head .page-title {
  padding-left: 30px;
}

.page-head .dev2 {
  text-align: right;
}

.personal {
  position: relative;
  transition: 1s linear;
  background-position: center center;
}

.bar-wrap {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.personal:before {
  top: 0;
  left: 0;
}

.personal:after {
  bottom: 0;
  right: 0;
}

.experience {
  position: relative;
}

.bgPattern {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.experience .heading {
  color: #0fa896;
  padding-bottom: 0;
  max-width: 355px;
}

.experience .timeline-hist .title {
  color: #0fa896;
  margin: 0;
  font-weight: 900;
  text-transform: capitalize;
}
.experience .timeline-hist .title span {
  color: #e24934;
}

.experience .timeline-hist {
  position: relative;
  max-width: calc(100% - 355px);
  min-width: 320px;
}

.timeline-hist:after {
  content: "";
  height: 100%;
  width: 4px;
  display: block;
  background: #bee4e0;
  position: absolute;
  top: 0;
  left: 0;
}

.timeline-hist .hist-content:after {
  content: "";
  top: 4px;
  left: -8px;
  background: #0fa896;
  border: 2px solid #009180;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.socials li {
  display: inline-block;
  margin: 15px 7.5px;
}

.socials li a svg {
  fill: #e24934;
  transition: 0.5s ease all;
}

.socials li a:hover svg {
  fill: #0FA896;
}

@media (min-width: 768px) {
  .experience .inner-wrap {
    align-items: flex-start;
  }

  .experience .heading {
    position: sticky;
    top: 0;
    left: 0;
  }

  .experience .title {
    font-size: 20px;
  }
}
@media (min-width: 1366px) {
  section {
    min-height: 100vh;
  }

  .page-head .content {
    padding: 25px 0 40px;
  }

  .experience .title {
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
